body {
    font-family: "Inter", sans-serif;
    background-color: #7b8d93;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #4a90e2;
    color: #fff; /* Texto blanco para buen contraste */
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    border-bottom: #333 3.5px solid;
    width: 910px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profile {
    display: flex;
    align-items: flex-start;
}

.profile img 
{
    border-radius: 25px;
    margin-bottom: 20px;
    width: 225px;
    height: 240px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.personal-info ul {
    list-style: none;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 10px;
    font-size: 3.5em;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.left-column, .right-column {
    width: 48%;
    margin-bottom: 20px;
    background-color: #50e3c2; /* Un verde menta suave */
    border: 10px;
    border-color: #333;
    border-radius: 10px;
    border-bottom: 3.5px solid #333;
}

h2 {
    text-align: center;
}

footer {
    background-color: #4a90e2;
    color: #fff;
    width: 950px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 25px;
    border-bottom: #333 3.5px solid;
    text-align: center;
}

footer h2 {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

footer a {
    color: #fff;
    margin: 0 15px;
    font-size: 1.2em;
    text-decoration: none;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.redes img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/*------------------------------MEDIA QUERIES------------------------------*/

@media (max-width: 393px) and (min-width: 320px) /*Phones small font name*/
{
    body 
    {
        display: block;
        padding: 10px;
    }

    header, .main-content, footer 
    {
        width: 80%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 15px;
    }

    .header-content 
    {
        flex-direction: column;
        align-items: center;
    }

    .profile img 
    {
        width: auto;
        height: 300px;
        margin-bottom: 0px;
    }

    .personal-info
    {
        margin-top: 0px;
    }

    .personal-info ul 
    {
        text-align: center;
        padding: 0%;
    }

    .personal-info h1
    {
        font-size: 29px;
    }

    .main-content 
    {
        flex-direction: column;
    }

    .left-column, .right-column 
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .redes 
    {
        flex-wrap: wrap;
        justify-content: center;
    }

    .redes a 
    {
        width: 45%;
        margin: 5px;
        text-align: center;
    }
}

@media (max-width: 767px) and (min-width: 394px) /*Phones*/
{
    body 
    {
        display: block;
        padding: 10px;
    }

    header, .main-content, footer 
    {
        width: 80%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 15px;
    }

    .header-content 
    {
        flex-direction: column;
        align-items: center;
    }

    .profile img 
    {
        width: auto;
        height: 300px;
        margin-bottom: 0px;
    }

    .personal-info
    {
        margin-top: 0px;
    }

    .personal-info ul 
    {
        text-align: center;
        padding: 0%;
    }

    .personal-info h1
    {
        font-size: 35px;
    }

    .main-content 
    {
        flex-direction: column;
    }

    .left-column, .right-column 
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .redes 
    {
        flex-wrap: wrap;
        justify-content: center;
    }

    .redes a 
    {
        width: 45%;
        margin: 5px;
        text-align: center;
    }
}

@media (max-width: 812px) and (min-width: 768px) /*Tablets small font name*/
{
    body 
    {
        justify-content: center;
    }

    header, .main-content, footer 
    {
        width: 80%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 15px;
    }

    .header-content 
    {
        flex-direction: row;
        align-items: center;
    }

    .profile img 
    {
        border-radius: 25px;
        margin-top: 10px;
        width: 150px;
        height: auto;
    }

    .personal-info ul 
    {
        text-align: center;
    }

    .personal-info h1
    {
        font-size: 2.5em;
    }

    .main-content 
    {
        flex-direction: column;
    }

    .left-column, .right-column 
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .redes 
    {
        justify-content: center;
    }

    .redes a 
    {
        width: 45%;
        margin: 5px;
        text-align: center;
    }    
}

@media (max-width: 1023px) and (min-width: 813px) /*Tablets*/
{
    body 
    {
        display: block;
        padding: 10px;
    }

    header, .main-content, footer 
    {
        width: 80%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 15px;
    }

    .header-content 
    {
        flex-direction: row;
        align-items: center;
    }

    .profile img 
    {
        border-radius: 25px;
        margin-top: 10px;
        width: 150px;
        height: auto;
    }

    .personal-info ul 
    {
        text-align: center;
    }

    .main-content 
    {
        flex-direction: column;
    }

    .left-column, .right-column 
    {
        width: 100%;
        margin-bottom: 20px;
    }

    .redes 
    {
        justify-content: center;
    }

    .redes a 
    {
        width: 45%;
        margin: 5px;
        text-align: center;
    }
}
